header{
    font-size: 270%;
    border: .5px solid black;
    text-align: center;
    height: 200px;
    background-color:rgb(219, 188, 244);
}

h2{
    font-size: 250%;
}

p{
    font-size: 150%;
}

nav{
    text-align: center;
    border: 1px solid black;
    margin-top: 0;
   background-color: rgb(202, 148, 225);
}
nav ul{
    text-align: center;
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 0 1%;
   
}
nav li a{
    text-decoration-line: none;
    color: black;
}

main{
    border: .5px solid black;
    text-align: center;
    height: 450px;
}

footer{
    border: .5px solid black;
    text-align: center;
    background-color:rgb(219, 188, 244);

}
